body{
    position: relative;
    height: 100%;
}

/*Imagem Menu*/

#checkMenu{
    margin: 40px;
    position: fixed;
}

#imgMenu{
    height: 40px;
    position: fixed;   
}

label#labelCheckMenu{
    padding: 15px;
    position: absolute;
    z-index: 2;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]:checked ~ nav{
    transform: translateX(250px);
}

/*Navegação Menu*/

nav{
    background-color: var(--color-grey-darker);
    width: 250px; 
    left:-250px;
    height: 100%;
    position: fixed;
    transition: all .5s;
    float: left; 
    z-index: 1;
}

ul{
    list-style: none;
    position: absolute;
    top: 70px;
    width: 100%; 
    height: 90%;
    /* margin-bottom: -5rem; */
}

a.itensMenu{
    display: block;
    padding: 20px 5px;
    font-size: 120%;
    font-weight: 500;
    color:var(--color-grey-lighter);
}

a.itensMenu:hover{
    background-color: var(--color-grey-dark); 
    color: var(--color-orange);  
}

/*Stories*/

#divStorie{
    text-align: right;
    padding: 1rem 1.5rem;
}

#imgStorie{
    height: 3.5rem;
    border-radius: 50%;
    padding: 0.5rem;
    border: 2px solid var(--color-orange);
}

#btnStorie{
    border: none;
    border-radius: 50%;
    background-color: var(--color-grey-lighter);
    outline: 0;
    cursor: pointer;
}

/*Rodapé*/

footer{
    height: 40px;

}